*{
	padding:0;
	margin:0;
}
/*组件容器样式*/
.ui-datepicker-wapper{
	width:250px;
	font-size:16px;
	color:#666;
	position: absolute;
	border-radius: 3px;
	overflow: hidden;
	height: 0;
	box-sizing: border-box;

	transition:all 1s;
	-webkit-transition:all 1s;
	-moz-transition:all 1s;
	-o-transition:all 1s;	
}
/*头部时间样式*/
.ui-datepicker-wapper .ui-datepicker-header{
	padding:0 20px;
	height:50px;
	line-height:50px;
	background:#f0f0f0;
	border-bottom:1px solid #ccc;
	box-sizing: border-box;
	text-align: center;
	font-weight: bold;
	position: relative;
}
/*按钮样式*/
.ui-datepicker-wapper .ui-datepicker-header .ui-datepicker-btn {
	font-family: serif;
	font-size: 30px;
	display: inline-block;
	width:30px;
	height:30px;
	line-height: 30px;
	text-align: center;
	border-radius: 50%;
	cursor: pointer;
	text-decoration: none;
	color:#1abc9c;
	position: absolute;
	top:calc(50% - 15px);

	transition:all 0.3s;
	-webkit-transition:all 0.3s;
	-moz-transition:all 0.3s;
	-o-transition:all 0.3s;	
}
/*显示时候样式*/
.ui-datepicker-wapper-show{
	height: 277px;
	box-shadow:0 0 8px 4px rgba(128,128,128,0.3);
}
/*前按钮*/
.ui-datepicker-wapper .ui-datepicker-header .ui-datepicker-prev-btn{
	left:20px;
}
/*后按钮*/
.ui-datepicker-wapper .ui-datepicker-header .ui-datepicker-next-btn{
	right:20px;
}
/*移入按钮*/
.ui-datepicker-wapper .ui-datepicker-header .ui-datepicker-btn:hover{
	background: ivory;
	opacity: 0.5;
	filter: alpha(opacity = 50);
	box-shadow: 0 0 8px 2px rgba(128,128,128,0.3);
}
/*月份样式*/
.ui-datepicker-wapper .ui-datepicker-header .ui-datepicker-curr-month{
	display: inline-block;
}
/*表格样式*/
.ui-datepicker-wapper .ui-datepicker-body table{
	width:100%;
	border-collapse:collapse;
	font-family: "Comic Sans MS", cursive, sans-serif;
}
/*单元格样式*/
.ui-datepicker-wapper .ui-datepicker-body th,.ui-datepicker-wapper .ui-datepicker-body td{
	height: 30px;
	text-align: center;

	transition:all 0.3s;
	-webkit-transition:all 0.3s;
	-moz-transition:all 0.3s;
	-o-transition:all 0.3s;
}
/*非本月日期样式*/
.ui-datepicker-wapper .ui-datepicker-body .td-show{
	opacity: 0.3;
	filter: alpha(opacity = 30);
}
/*日期单元格移入*/
.ui-datepicker-wapper .ui-datepicker-body td:hover{
	background: crimson;
	opacity: 1;
	filter: alpha(opacity = 100);
	font-weight: bold;
	color:aliceblue;
	font-size: 14px;
}
/*礼拜单元格样式*/
.ui-datepicker-wapper .ui-datepicker-body th{
	height: 40px;
	line-height: 40px;
	font-size: 14px;
}
/*日期单元格*/
.ui-datepicker-wapper .ui-datepicker-body td{
	border:1px solid #f0f0f0;
	width:14%;
	font-size: 12px;
	cursor: pointer;
}
